h3 {
    font-family: 'Sorts Mill Goudy', serif;
    color: rgb(148, 223, 223);
}
.card-text {
    font-family: 'Comfortaa', cursive;
    color: rgb(95, 122, 122);
}
#alli{
    background: #CCFFFF;
    background: -webkit-linear-gradient(bottom left, #CCFFFF, #F3FCFB);
    background: -moz-linear-gradient(bottom left, #CCFFFF, #F3FCFB);
    background: linear-gradient(bottom left, #CCFFFF, #F3FCFB);
    background-size: cover;
}