
.card-body {
    display: inline;
}
.firstletter {
    font-family: 'Niconne', cursive;
    font-size: 30px;
}
html {
    scroll-behavior: smooth;
}
h3 {
    font-family: 'Sorts Mill Goudy', serif;
    color: rgb(148, 223, 223);
}
.card-text {
    font-family: 'Comfortaa', cursive;
    color: rgb(95, 122, 122);
    font-size: 13.5px;
    padding-left: 40px;
    padding-right: 40px;
}
.card-title {
    padding-left: 10px;
    padding-right: 10px;
}
#alli{
    background: #CCFFFF;
    background: -webkit-linear-gradient(bottom left, #CCFFFF, #F3FCFB);
    background: -moz-linear-gradient(bottom left, #CCFFFF, #F3FCFB);
    background: linear-gradient(bottom left, #CCFFFF, #F3FCFB);
    background-size: cover;
}
#stack, #twocook, #product {
    max-height: 50px;
}
.credit {
    color: rgb(190, 190, 190);
    font-size: 12px;
}
.credit a {
    text-decoration: none;
    color: rgb(170, 170, 170);
}
.credit a:hover {
    color: rgb(190, 190, 190);
}